body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.center {
    text-align: center;
}

h1 {
    color: neon green;
    font-family: 'Fast Track', sans-serif;
}

p {
    color: neon blue;
    font-family: 'Metal Mania', cursive;
}
